body {
    background-image: url(scribble.gif);
    background-color: pink;
    background-size: 55%;
    }
    h1{
        font-family: 'Neue Metana', sans-serif;
        color: black;
        font-size: -webkit-xxx-large;
        text-align: left;
        padding: 20px;
        padding-right: 5px;
        margin: 10px;
        letter-spacing: 0.1rem;
    }
    
    h1:hover {
        color: pink;
    }    
    p{
        color: black;
    }
    .list-group-item{
        font-family: 'Neue Metana', sans-serif;
        color: black;
        background-color: pink;
    }
    .list-group{
text-align: right;   }

.list-group-item:hover{
    color: white;
}
.navbar{
    font-family: 'Neue Metana', sans-serif;
    background-color: pinl;
}
a{
    color: black;
    font-family: 'Neue Metana', sans-serif;
    text-align: center;
}
a:hover{
    color: pink;
}

.container{
    font-family: 'Neue Metana', sans-serif;
    color: black;
    align-content: center;

}

input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
background-color: black;
color: white;
  }

  textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
background-color: black;
color: white;
  }
  
  .fa{
    color: black;
    width: 100%;
  padding: 1em;
  margin: 33px auto 19px auto;
  font-size: 45px;
}