@import url('http://fonts.cdnfonts.com/css/neue-metana');

body {
    background-color: pink;
    font-family: 'Neue Metana', sans-serif;

    }
    h1{
        font-family: 'Neue Metana', sans-serif;
        color: black;
        font-size: -webkit-xxx-large;
        text-align: left;
        padding: 20px;
        padding-right: 5px;
        margin: 10px;
        letter-spacing: 0.1rem;
    }
    
    h1:hover {
        color: white;
    }    
    p{
        color: black;
    }
    .list-group-item{
        font-family: 'Neue Metana', sans-serif;
        color: black;
        background-color: pink;
    }
    .list-group{
text-align: right;   }

.list-group-item:hover{
    color: white;
}
.navbar{
    font-family: 'Neue Metana', sans-serif;
    background-color: pinl;
}
a{
    color: black;
    font-family: 'Neue Metana', sans-serif;
    text-align: center;
}
a:hover{
    color: white;
}

.fa{
    color: black;
    width: 100%;
  padding: 1em;
  margin: 33px auto 19px auto;
  font-size: 45px;
}


img{
    width: 100%;
    margin: 33px auto 19px auto;
    float: inherit;
    width: 30% auto;
    margin: 1.66%;
    align-items: center;
    text-align: center;
    border-style: dashed;
    border-color: white;

}
p{
    font-family: 'Neue Metana', sans-serif;
text-align: center;
font-size: 90%;
margin: 10%;
}