
@import url('http://fonts.cdnfonts.com/css/neue-metana');

body {
  
    background-color: white;
    text-align: center;
    font-family: 'Neue Metana', sans-serif;
    }
    h1{
        font-family: 'Neue Metana', sans-serif;
        color: black;
        font-size: -webkit-xxx-large;
        text-align: left;
        padding: 20px;
        padding-right: 5px;
        margin: 10px;
        letter-spacing: 0.1rem;
    }
    
    h1:hover {
        color: pink;
    }    
    p{
        color: black;
    }
    .list-group-item{
        font-family: 'Neue Metana', sans-serif;
        color: black;
        background-color: white;
    }
    .list-group{
text-align: right;   }

.list-group-item:hover{
    color: pink;
}
.navbar{
    font-family: 'Neue Metana', sans-serif;
    background-color: pink;
}
a{
    color: black;
    font-family: 'Neue Metana', sans-serif;
    text-align: center;
}
a:hover{
    color: pink;
}
img:hover{
    transition: .5s ease;
    -webkit-filter: invert(80%);

}

img {
    width: 417px;
    margin: 33px auto 19px auto;
    float: inherit;
    width: 30% auto;
    margin: 1.66%;

}

.fa{
  color: black;
  width: 100%;
padding: 1em;
margin: 33px auto 19px auto;
font-size: 45px;
}
